@model Articulo

<div class="container">

    <div class="card m-1">
        <div class="card-body">
            <form class="row g-3" asp-controller="Articulos" asp-action="GetArticle">
                <div class="col-auto">
                    <label asp-for="ArtCodart"></label>
                    <input type="text" class="form-control" asp-for="ArtCodart">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success align-middle"><i class="fas fa-check"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="card m-1">
        <div class="card-body">
            @if (Model.ArtCodart == null)
            {
                @Html.ActionLink(
                  "Agregar",
                  "ArticlesABMC",
                  "Articulos",
                  new { mode = "add", form = ((string)TempData["FormType"]) },
                  new { @class = "btn btn-success" }
                 )
                <button class="btn btn-secondary" disabled>Editar</button>
                <button class="btn btn-danger" disabled>Eliminar</button>

            }
            @if (Model.ArtCodart != null)
            {
                @Html.ActionLink(
                  "Agregar",
                  "ArticlesABMC",
                  "Articulos",
                  new { mode = "add" },
                  ((bool)TempData["AddButton"]) ? new { @class = "btn btn-success disabled m-1" } : new { @class = "btn btn-success m-1" })
                @Html.ActionLink(
                  "Editar",
                  "ArticlesABMC",
                  "Articulos",
                  new { mode = "edit", id = Model.ArtCodart },
                  ((bool)TempData["ActionButtons"]) ? new { @class = "btn btn-secondary disabled m-1" } : new { @class = "btn btn-secondary m-1" })
                @Html.ActionLink(
                  "Eliminar",
                  "ArticlesABMC",
                  "Articulos",
                  new { mode = "delete", id = Model.ArtCodart },
                  ((bool)TempData["ActionButtons"]) ? new { @class = "btn btn-danger disabled m-1" } : new { @class = "btn btn-danger m-1" })
            }
        </div>
    </div>

    <div class="card m-1">
        <div class="card-header">
            <ul class="nav nav-tabs">
            @if (Model.ArtCodart == null && ((bool)TempData["FormMode"]) != false)
            {
               <li class="nav-item">
                   <button class="nav-link disabled">Datos Generales</button>
               </li>
               <li class="nav-item">
                   <button class="nav-link disabled">Precios</button>
               </li>
               <li class="nav-item">
                   <button class="nav-link disabled">Acondicionamiento y Stock</button>
               </li>
               <li class="nav-item">
                   <button class="nav-link disabled">Datos Adicionales</button>
               </li>
            }
            else
            {
            <li class="nav-item">
                @Html.ActionLink(
                         "Datos Generales",
                         "ChangeMode",
                         "Articulos",
                         new { mode = "generalData" },
                         ((string)TempData["FormType"]) == "priceData" ? new { @class = "nav-link active" } : new { @class = "nav-link " })
            </li>
                <li class="nav-item">
                    @Html.ActionLink(
                             "Precios",
                             "ChangeMode",
                             "Articulos",
                             new {mode="priceData" },
                             ((string)TempData["FormType"])=="priceData" ? new { @class = "nav-link active" } : new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(
                         "Acondicionamiento y Stock",
                         "ChangeMode",
                         "Articulos",
                         new { mode = "generalData" },
                         ((string)TempData["FormType"]) == "stockData" ? new { @class = "nav-link active" } : new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(
                         "Datos Adicionales",
                         "ChangeMode",
                         "Articulos",
                         new { mode = "adicionalData" },
                         ((string)TempData["FormType"]) == "priceData" ? new { @class = "nav-link active" } : new { @class = "nav-link " })
                </li>
            }
            </ul>
        </div>
            <div @Html.Raw(((string)TempData["FormType"])=="generalData" ? "style = 'display: block'":"style = 'display: none'")>
                <partial name="_generalData" model="Model">
            </div>
            <div @Html.Raw(((string)TempData["FormType"]) == "priceData" ? "style = 'display: block'" : "style = 'display: none'")>
                <partial name="_priceData" model="Model">
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        @Html.ActionLink(
                             "Cancelar",
                             "CancelAction",
                             "Articulos",
                             htmlAttributes:
                             ((bool)TempData["FormMode"]) ? new { @class = "btn btn-secondary disabled" } : new { onclick = "return confirm('Seguro que desea perder los cambios?')", @class = "btn btn-secondary" })
                    </div>
                    <div class="col-auto">
                        <button @Html.Raw(((bool)TempData["FormMode"]) ? "disabled=\"disabled\"" : "") class="btn btn-success" type="submit">Confirmar</button>
                    </div>
                </div>
            </div>
    </div>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


