@model ProyectoFinalElectricidadSeret.Models.Articulo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodbar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodbar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDescri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDescri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDescrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDescrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDiscon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDiscon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtEmbala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtEmbala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtUmcomp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtUmcomp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtUmvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtUmvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCoefcv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCoefcv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtStoact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtStoact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtStocom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtStocom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCanped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCanped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtStomin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtStomin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtStomax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtStomax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtObserv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtObserv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtUltcom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtUltcom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtUltact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtUltact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtPrecos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtPrecos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDtocom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDtocom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtValiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtValiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtTipimp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtTipimp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImpues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtImpues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDtovta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDtovta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtComvta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtComvta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCtacom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCtacom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCtavta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCtavta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCcocom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCcocom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCcovta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCcovta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtUspart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtUspart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtUsseri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtUsseri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtPromoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtPromoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtEquiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtEquiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCompue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCompue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDispon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDispon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodcab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodcab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtStover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtStover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAcondi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAcondi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImaux1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtImaux1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImaux2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtImaux2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImaux3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtImaux3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImaux4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtImaux4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtEcopro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtEcopro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtEcomp1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtEcomp1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtEcomp2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtEcomp2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtEcomp3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtEcomp3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDestac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDestac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAlto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAlto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAncho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAncho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtProfun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtProfun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAgrmp1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAgrmp1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAgrmp2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAgrmp2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAgrmp3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAgrmp3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtTags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtTags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodlinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodlinNavigation.LinCodlin)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodmarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodmarNavigation.MarCodmar)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodmonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodmonNavigation.MonCodmon)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodproNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodproNavigation.ProCodpro)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodrubNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodrubNavigation.RubCodrub)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodsruNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodsruNavigation.SruCodsru)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCodtarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCodtarNavigation.TarCodtar)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArtCodart" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
