@model IEnumerable<ProyectoFinalElectricidadSeret.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodbar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDescri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDescrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDiscon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtEmbala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtUmcomp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtUmvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCoefcv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtStoact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtStocom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCanped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtStomin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtStomax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtObserv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtUltcom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtUltact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPrecos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDtocom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtValiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtTipimp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImpues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDtovta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtComvta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCtacom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCtavta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCcocom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCcovta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtUspart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtUsseri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPromoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtEquiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCompue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDispon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodcab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtStover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtAcondi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImaux1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImaux2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImaux3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtImaux4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtEcopro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtEcomp1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtEcomp2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtEcomp3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtDestac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtAlto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtAncho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtProfun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPeso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtAgrmp1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtAgrmp2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtAgrmp3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodlinNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodmarNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodmonNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodproNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodrubNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodsruNavigation.SruDescri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtCodtarNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodbar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDescri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDescrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDiscon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtEmbala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtUmcomp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtUmvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCoefcv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtStoact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtStocom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCanped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtStomin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtStomax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtObserv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtUltcom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtUltact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtPrecos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDtocom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtValiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtTipimp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtImpues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDtovta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtComvta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCtacom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCtavta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCcocom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCcovta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtUspart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtUsseri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtPromoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtEquiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCompue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDispon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodcab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtStover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtAcondi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtImaux1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtImaux2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtImaux3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtImaux4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtEcopro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtEcomp1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtEcomp2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtEcomp3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDestac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtAlto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtAncho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtProfun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtPeso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtAgrmp1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtAgrmp2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtAgrmp3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtTags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodlinNavigation.LinCodlin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodmarNavigation.MarCodmar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodmonNavigation.MonCodmon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodproNavigation.ProCodpro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodrubNavigation.RubCodrub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodsruNavigation.SruCodsru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtCodtarNavigation.TarCodtar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtCodart">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtCodart">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtCodart">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
